*{
    box-sizing: border-box;
    font-family: "Roboto";
    scroll-behavior: smooth;
}
h1{font-size: 48px;}
h2{font-size: 32px; margin: 0;}
h3{font-size: 24px; margin: 0;}
a{text-decoration: none; font-size: 24px; font-weight: 700; color: #141414;}
body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10svh;
}
nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
    display:none
}
@media(min-width:769px){
    nav{
        display: flex;
        margin-top: 15px ;
    }
}
.home{
    height: 100svh;
    background: url(./images/puntitos.svg);
    display: grid;
    grid-template-rows: 10vh 1fr;
    align-items: center;
    justify-content: center;
}
@media(min-width:769px){
    .home{
        display: grid;
        justify-content: initial;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    .header{
        grid-column: 1 / 3;
        padding: 10px;
    }
}
.header__logo{
    width: 50px;
    height: 50px;
    margin-left: 17px;
}

@media(min-width:769px){
    .header__logo{
        margin-left: 80px;
        margin-top:36px;
        width: 80px;
        height: 80px;
    }
}

.burguer{
    width: 36px;
    height: 32px;
    margin-right: 17px;
}
@media(min-width:769px){
    .burguer{
        display: none;
    }
}
.titulo{
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
}
@media(min-width:769px){
    .titulo{
        grid-column: 1;
        grid-row:2;
        max-width: 50%;
        text-align: left;
    }
}
.foto{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
@media(min-width:769px){
    .foto{
        width: 80%;
        margin: 0 auto;
        height: auto;
        grid-column: 2;
        grid-row: 2;
        align-self: flex-end;
    }
}

/*--------------------------------------------------*/
.about-me{
    min-height: 90vh;
    background-color:#141414 ;
    color: #FAFAFA;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.cuerpo-del-texto{
    margin: 41px 31px 57px 31px;
}
.cuerpo-del-texto>p{
    width: 80%;
    margin: 0 auto;
}

.about-me>h2{
    width: 271px;
    margin-top: 0;
    text-align: center;
}
.cuerpo-del-texto >img{
    height: 80px ;
    width: 80px;
}
@media(min-width:769px){
    .about-me{
        height: auto;
        padding: 132px 301px 169px 300px;
        display: grid;
        grid-template-columns: 35% 60%;
        column-gap: 5%;
        grid-template-rows: 40% 1fr;
        align-items: center;
        justify-content: center;
    }
    .about-me>h2{
        grid-column: 2;
        align-self: flex-end;
        text-align: left;
    }
    .cuerpo-del-texto{
        margin: 28px 0;
        grid-column: 2;
        grid-row: 2;
        align-self: flex-start;
        width: 100%;
    }
    .cuerpo-del-texto>p{
    margin-left: 0 ;
    }
    
    .about-me>img{
        width: 211px;
        height: 211px;
        justify-self: end;
        margin-right: 50px;
        grid-column: 1;
        grid-row: 1/span 2;
    }
}
/*----------------------------------------------------------*/
.servicios{
    padding: 50px 52px 66px 52px;
    background-color:#FAFAFA;
}
.servicios>h2{
    text-align: center;
    margin-bottom: 43px ;
}
.servicios .container{
    display: grid;
    gap:104px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 312px 312px 312px;
}
@media(min-width:1100px){
    .servicios{
        padding: 108px 52px;
    }
    .servicios .container{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
    }
}
.card{
    width: 271px;
    height: 312px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    justify-items: center;
    align-content: center;
    text-align: center;
}
.card .parrafo{
    margin: 0;
}
.card >img{
    width: 138px;
    height: 138px;
}
/*-----------------------------------------------------*/
.contacto{
    min-height: 90vh;
    padding:69px 52px ;
    background-color: #141414;
    color: #FAFAFA;
}
.contacto h1{
    text-align: center;
    margin-bottom: 37px;
}
@media(min-width:769px){
    .contacto{
        padding: 116px 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.form > label{
    display: block;
    margin-bottom: 9px;
    font-size: 13px;
}
.form > input, .textarea{
    margin-bottom: 27px;
    min-height: 45px;
    width: 100%;
}
.form .textarea{
    height: 113px;
}
.button-section > button{
    width: 100%;
    min-height: 45px;
    border: none;
    background-color: #FFD953;
    padding: 13px 30.98px;
    font-size: 13px;
}
@media(min-width:769px){
    .form{
        grid-column: 2;
    }
    .button-section{
        grid-row: 2;
        grid-column: 2;
        align-self: start;
    }
    .button-section > button{
        margin: 0;
    }
    .contacto h1{
        margin: 0;
        justify-self:flex-end;
        margin-right: 77px;
    }
}
.footer{
    background-color: #DBDBDB;
    padding: 53px 16px;
    background: url(./images/puntitos.svg);
}
.footer a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #141414;
}

.footer .subtexto{
    font-size: 13px;
    margin: 18px 0 85px 0;
}
.red{
    display: flex;
}
.icono{
    margin-right:8px;
    display: block;
}
@media(min-width:769px){
    .footer{
        height: 40vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 80px;
    }
    .footer .subtexto{
        margin: 0;
    }
}